.quadCard {
    display: flex;
}
.quad {
    background-color: var(--secondary-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: 2rem;
    border-radius: 3px;
}

.quad:hover {
    background-color: var(--orange-color);
    transition: 1000ms;
}