@font-face {
    font-family: 'MarkerFelt';
    src: url('../font/MarkerFelt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    line-height: 1.3;
}

h1, h2, h3, h4 {
    margin: 3rem;
    font-size: x-large;
}

p{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

:root {
    --main-color: #fff;
    --secondary-color: #15616D;
    --third-color: #156d27;
    --orange-color: #E25432;
    --background-boxes: #fff;
    font-size: 15px;
  }
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body{
    background: linear-gradient(#E25432,#15616D );
    font-family: 'MarkerFelt';
    color: var(--main-color);
      word-spacing: 1px;
  line-height: 1.3;
  letter-spacing: 1px;
}

header {
    padding: 1rem;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: white;
    padding-right: 1rem;
}

nav a:hover {
    color:var(--orange-color);
    transition: 200ms;
}

.logo {
    background-image: url('../public/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.description {
    background-color: var(--secondary-color);
    display: block;
    padding: 2rem;
}

.description2 {
    background-color: var(--orange-color);
    display: block;
    padding: 2rem;
}

.location-container{
    display: flex;
    max-width: 60%;
}

footer{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    height: 15%;
    margin-top: 9rem;
}

.a_footer{
    display: block;
    margin: 1rem;
    text-decoration: none;
}


/*                    RESPONSIVE                   */


@media (max-width: 750px){
    nav {
        display: none;
    }
    *{
        font-size: x-small;
    }
}